{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": [
                    "last 2 Chrome versions",
                    "last 2 Firefox versions",
                    "last 2 ChromeAndroid versions",
                    "last 2 FirefoxAndroid versions"
                ]
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "module-resolver",
            {
                "cwd": "packagejson",
                "extensions": [
                    ".js",
                    ".json",
                    ".vue"
                ],
                "alias": {
                    "^@/(.+)": "./src/\\1",
                    "vue": "vue/dist/vue.esm.js",
                    "^@settings/(.+)": "./src/store/settings/\\1",
                    "^@utils/(.+)": "./src/utils/\\1"
                }
            }
        ]

    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ]
        }
    }
}
