# bundles
dist/

# editor files
.vscode

# node packages
node_modules/

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# test coverage files
/client/coverage/
/server/coverage/
