# editor files
.vscode

# node packages
node_modules/

# package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env


# client bundle
/client/dist/

# test coverage files
/client/coverage/
/server/coverage/
